{% load cms_tags menu_tags sekizai_tags static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta Tags -->
    <meta charset="utf-8" />
    <link rel="icon" href="{% static '/creative/img/logo.png' %}" />
    <meta
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
      name="viewport"
    />
    <!-- Author -->
    <meta name="author" content="31 July Movement" />
    <meta
    name="description"
    content="We are an apolitical resistance movement bringing Zimbabweans together; whether opposition or ruling party, black or white, young or old"
  />
  <!-- keywords -->
  <meta
    name="keywords"
    content=" 31julymovement, democracy, zimbabwe, movement, jacob, ngarivhume, human rights, harare"
  />
    <!-- Page Title -->
    <title>{% block title %}31 July Movement{% endblock title %}</title>
    {% include 'creative_head.html' %} 
    
    {% render_block "css" %}
  
  </head>

  <body data-spy="scroll" data-target=".navbar" data-offset="50">
    <script>
      var chatbox = document.getElementById('fb-customer-chat');
      chatbox.setAttribute("page_id", "102567031586626");
      chatbox.setAttribute("attribution", "biz_inbox");
      window.fbAsyncInit = function() {
        FB.init({
          xfbml            : true,
          version          : 'v10.0'
        });
      };

      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
    {% cms_toolbar %}

    <!-- Preloader -->
    <div class="preloader">
      <div class="center">
        <div class="loader loader-32">
          <div class="loader-container">
            <div class="ball-wrapper">
              <div class="ball-holder">
                <div class="ball"></div>
              </div>
              <div class="shadow"></div>
            </div>
            <div class="ball-wrapper">
              <div class="ball-holder">
                <div class="ball"></div>
              </div>
              <div class="shadow"></div>
            </div>
            <div class="ball-wrapper">
              <div class="ball-holder">
                <div class="ball"></div>
              </div>
              <div class="shadow"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Preloader End -->

    <!--Header Start-->
    {% include 'creative_upper.html' %}
    <!--Header End-->


    <!--testimonial section start-->
<div class="testimonial-sec padding-top position-relative" id="testimonial-sec">
  <div class="right-overlay"></div>
  <div class="container">
      <div class="testimonial-area padding-top padding-bottom">
          <div class="container">
              <div class="row">
                  <div class="col-12 col-lg-5 d-flex justify-content-center align-items-center text-center text-lg-left">
                      <div class="testimonial-details wow fadeInLeft">
                          <h4 class="heading">{% placeholder 'democracy' %}</h4>
                          <div class="banner_text">
                            {% placeholder 'democracy_text' %}
                          </div>
                      </div>
                  </div>
                  <div class="col-12 col-lg-6 offset-lg-1">
                     {% placeholder 'video' %}
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!--testimonial section end-->




    <!--Blogs section start-->
    <section class="blog-sec" id="blog-sec">
      <div class="left-overlay"></div>
      <div class="container position-relative">
        <div class="blog-inner-overlay"></div>
        <div class="row blog-area">
          <div
            class="col-12 col-lg-5 d-flex align-items-center text-center text-lg-left"
          >
            <div class="blog-detail wow fadeInLeft">
              <h5 class="heading">{% placeholder 'blog_header' %}</h5>
              <div class="membership">{% placeholder 'blog_text' %}</div>
            </div>
          </div>
          <div class="col-12 col-lg-6 offset-lg-1">
            <div class="blog-img wow fadeInRight">
              <img src="{% static 'creative/img/1.png' %}" alt="blog-img" />
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--Blogs section end-->

    <!--Gallary section start-->
    {% include 'gallary.html' %}
    <!--Gallary section end-->
    <!--Footer Start-->
    {% include 'creative_footer.html' %}
    <!--Footer End-->
    {% include 'creative_scripts.html' %} {% render_block "js" %}
    <!-- Messenger Chat Plugin Code -->
    <div id="fb-root"></div>

    <!-- Your Chat Plugin code -->
    <div id="fb-customer-chat" class="fb-customerchat">
    </div>

  </body>
</html>
