{% load cms_tags menu_tags sekizai_tags static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta Tags -->
    <meta charset="utf-8" />
    <link rel="icon" href="../static/creative/img/logo.png" />
    <meta
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
      name="viewport"
    />
    <!-- Author -->
    <meta name="author" content="31 July Movement" />
    <!-- description -->
    <meta name="description" content="" />
    <!-- keywords -->
    <meta name="keywords" content=" " />
    <!-- Page Title -->
    <title>{% block title %}31 July Movement{% endblock title %}</title>
    {% include 'creative_head.html' %} {% render_block "css" %}
  </head>

  <body data-spy="scroll" data-target=".navbar" data-offset="50">
    {% cms_toolbar %}

    <!-- Preloader -->
    <div class="preloader">
      <div class="center">
        <div class="loader loader-32">
          <div class="loader-container">
            <div class="ball-wrapper">
              <div class="ball-holder">
                <div class="ball"></div>
              </div>
              <div class="shadow"></div>
            </div>
            <div class="ball-wrapper">
              <div class="ball-holder">
                <div class="ball"></div>
              </div>
              <div class="shadow"></div>
            </div>
            <div class="ball-wrapper">
              <div class="ball-holder">
                <div class="ball"></div>
              </div>
              <div class="shadow"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Preloader End -->

    <!--Header Start-->
    {% include 'creative_upper.html' %}
    <!--Header End-->

    <!--About sec start-->
    <section class="about-sec" id="about-sec">
      <div class="about-overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-6 services-area padding-top padding-bottom">
            <div class="yellow-overlay"></div>
            <div class="row no-gutters wow fadeInLeft">
              <div class="col-12 col-lg-6 services text-center">
                <div class="service-card">
                  <a href="#aims-section" class="scroll">
                  <div class="icon-holder">
                    <i class="lni lni-briefcase"></i>
                  </div>
                  <h4 class="card-heading">Aims</h4>
                </a>
                </div>
              </div>
              <div class="col-12 col-lg-6 services text-center">
                <div class="service-card">
                  <a href="#aims-section" class="scroll">
                  <div class="icon-holder">
                    <i class="lni lni-bulb"></i>
                  </div>
                  <h4 class="card-heading">Principles</h4>
                </a>
                </div>
              </div>
              <div class="col-12 col-lg-6 services text-center">
                <div class="service-card">
                  <a href="#aims-section" class="scroll">
                  <div class="icon-holder">
                    <i class="lni lni-heart"></i>
                  </div>
                  <h4 class="card-heading">Objectives</h4>
                </a>
                </div>
              </div>
            </div>
          </div>
          <div
            class="col-12 col-lg-6 about-area padding-top padding-bottom text-center text-lg-left"
          >
            <div class="about-content wow fadeInRight">
              <div class="about-inner-content">
                <h4 class="heading">{% placeholder 'about_aim' %}</h4>
                <p class="text">{% placeholder 'about_aim_text' %}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--About sec End-->

    <!--portfolio section start-->
    <section
      class="portfolio-sec padding-top company-portfolio-section"
      id="aims-section"
    >
      <div class="container">
        <div class="section-heading">
          <div class="row">
            <div class="col-md-12 pt-5">{% placeholder 'sdf' %}</div> 
          </div>
        </div>
      </div>
    </section>
    <!--portfolio section end-->

    <!--Blogs section start-->
    <section class="blog-sec" id="blog-sec">
      <div class="left-overlay"></div>
      <div class="container position-relative">
        <div class="blog-inner-overlay"></div>
        <div class="row blog-area">
          <div
            class="col-12 col-lg-5 d-flex align-items-center text-center text-lg-left"
          >
            <div class="blog-detail wow fadeInLeft">
              <h5 class="heading">{% placeholder 'blog_header' %}</h5>
              <p class="text">{% placeholder 'blog_text' %}</p>
            </div>
          </div>
          <div class="col-12 col-lg-6 offset-lg-1">
            <div class="blog-img wow fadeInRight">
              <img src="{% static 'creative/img/1.png' %}" alt="blog-img" />
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--Blogs section end-->

    <!--Contact section start-->
    <section class="contact-sec padding-top padding-bottom" id="contact-sec">
      <div class="container">
        <!-- <div class="row">
          <div class="col-12 col-lg-7">
            <h4 class="heading text-center text-lg-left">
              {% placeholder 'touch_header' %}
            </h4>
            <div class="col-lg-12">{% placeholder 'contact' %}</div>
          </div> -->
          <!-- <div
            class="col-12 col-lg-5 text-center text-lg-left position-relative"
          >
            <div class="contact-details wow fadeInRight">
              <h4 class="heading">{% placeholder 'contact_header' %}</h4>
              <ul>
                <li>
                  <i class="las la-phone-volume phone"></i>
                  <span>+263 000 000 000</span>
                </li>
                <li>
                  <i class="las la-paper-plane email"></i
                  >email@31julymovement.com
                </li>
              </ul>
            </div>
          </div> -->
        </div>
      </div>
    </section>
    <!--Contact section end-->

    <!--Footer Start-->
    {% include 'creative_footer.html' %}
    <!--Footer End-->

    {% include 'creative_scripts.html' %} {% render_block "js" %}
  </body>
</html>
